{% extends "base_home.html" %}
{% block content %}
    <form method="POST" class="form-container form-container-sm form-no-overflow" novalidate>
        <fieldset class="form-group">
            <h1><legend class="border-bottom mb-4">{{ title }}</legend></h1>
            {{ form.hidden_tag() }}
            {% block formcontent%}
            {% endblock formcontent %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-dark btn-block") }}
        </div>
        <br>
        {% block skiplink %}{% endblock %}
    </form>
{% endblock content %}
