{% extends "base_home.html" %}
{% block meta %}
    <meta name="Description" content="{{ config['APP_NAME'] }} main page">
{% endblock meta %}
{% block content %}
    <main id="posts-container" class="container-posts">
        {% if author %}
        <div class="form-container form-container-lg form-no-overflow">
            <header class="info-user">
            <img class="rounded-circle account-img" src="{{ author.profile_pic_path }}" alt="Picture Not Found">
            <div class="info-user-description">
                <h1>{{ author.name }} ({{ total_posts }} posts written)</h1>
                <h2>@{{ author.username }}</h2>
            </div>
        </header>
        </div>
        {% endif %}
    </main>
    <template id="sentinel-template">
        <div class="d-flex justify-content-center mb-3" id="sentinel">
            <div class="spinner-border" role="status"></div>
        </div>
    </template>
    <template id="no-post-template">
        {% if not author %}
        <div class="container-msg">
            <p>No post written yet</p>
        </div>
        {% endif %}
    </template>
    <template id="menu-post-template">
        <div class="menu-edit">
            <button class="menu-edit-btn" onclick="openEditMenu(this)">Options</button>
            <div class="menu-edit-content">
                <a class="post-edit-link" href="#">Edit</a>
                <a class="post-delete-link" href="#" data-toggle="modal" data-target="#delete-modal" data-post-id="">Delete</a>
            </div>
        </div>
    </template>
    <template id="post-template">
        <article class="post-container form-container form-container-lg">
            <header>
                <h1 class="post-title"></h1>
                <div class="post-info-header">
                    <span class="account-img-container"></span>
                    <div class="post-info-description">
                        <h2 class="post-author post-info"></h2>
                        <h2 class="post-date post-info"></h2>
                        <h2 class="post-date-edited post-info"></h2>
                    </div>
                </div>
            </header>
            <br>
            <div class="post-content post">
            </div>
        </article>
    </template>
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Confirm post deletion?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form id="form-delete" method="POST" data-url-base="/post/delete">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript"></script>
{% endblock %}
