{% extends "base_form.html" %}
{% block meta %}
    <meta name="Description" content="{{ config['APP_NAME'] }} recover account page">
{% endblock meta %}
{% block formcontent %}
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if errors and 'email' in errors and errors['email'] %}
                {{ form.email(class="form-control lower-input is-invalid", placeholder="Email address", autofocus=true) }}
                <div class="invalid-feedback">
                    {% for error in errors['email'] %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control lower-input", placeholder="Email address", autofocus=true) }}
                {% endif %}
            </div>
{% endblock formcontent %}
{% block skiplink %}
        <a class="text-dark link-underline" href="{{ url_for('login_route.login') }}">Log in instead</a>
{% endblock skiplink %}
