{% extends "base_form.html" %}
{% block meta %}
    <meta name="Description" content="{{ config['APP_NAME'] }} register page">
{% endblock meta %}
{% block formcontent %}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if errors and 'name' in errors and errors['name'] %}
                {{ form.name(class="form-control is-invalid", placeholder="Enter your name", autofocus=true, autocapitalize="on") }}
                <div class="invalid-feedback">
                    {% for error in errors['name'] %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control", placeholder="Enter your name", autofocus=true, autocapitalize="on") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if errors and 'email' in errors and errors['email'] %}
                {{ form.email(class="form-control lower-input is-invalid", placeholder="Email address") }}
                <div class="invalid-feedback">
                    {% for error in errors['email'] %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control lower-input", placeholder="Email address") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if errors and 'password' in errors and errors['password'] %}
                {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in errors['password'] %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
                {% endif %}
            </div>
{% endblock formcontent %}
{% block skiplink %}
        <a class="text-dark link-underline" href="{{ url_for('login_route.login') }}">Log in instead</a>
{% endblock skiplink %}
