{% extends "base_form.html" %}
{% block meta %}
    <meta name="Description" content="{{ config['APP_NAME'] }} password reset page">
{% endblock meta %}
{% block formcontent %}
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if errors and 'password' in errors and errors['password'] %}
                {{ form.password(class="form-control is-invalid", placeholder="New Password", autofocus=true) }}
                <div class="invalid-feedback">
                    {% for error in errors['password'] %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", placeholder="New Password", autofocus=true) }}
                {% endif %}
            </div>
{% endblock formcontent %}
