.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8px;
    height: 100%;
    width: 100%;
    min-width: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #aaa;
}

.checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
}

@value --dark-color from './shared.css';

.checkbox-label input:checked ~ .checkmark {
    background-color: var(--dark-color);
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
